/*:::::Topo da Página:::::*/
.barra-topo{
    width: 935px;
    height: 44px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    
}
.logo-insta{
    margin-left: 20px;
    border-left: 1px solid #e6e6e6;
    justify-content: flex-start;
}
.caixa-icones{
    
    background-color: blue;
}
/*:::::Topo da Página:::::*/












/* CSS TOPO*/


























/* CSS CORPO DA PÁGINA*/
/* CSS CORPO DA PÁGINA*/